{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1 class="h3">Branch Inventory Transfers</h1>
      <a href="{% url 'inventoryManage:branch_inventory_transfer' %}" class="btn btn-primary"><i class="fas fa-plus"></i> New Transfer</a>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover" id="table__data">
            <thead>
              <tr>
                <th>Transaction ID</th>
                <th>From Branch</th>
                <th>To Branch</th>
                <th>Date</th>
                <th>Transfered By</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody id="table_body"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script>
    const search_url = "{% url 'inventoryManage:fetch_transactions' %}"
  </script>
{% endblock %}
