{% load custom_filters %}

{% for invoice in data %}
  <tr>
    <td>#{{ invoice.branch.code }}-{{ invoice.id }}</td>
    <td>
      <div>{{ invoice.customer.name }}</div>
      <small class="text-muted">{{ invoice.customer.phone }}</small>
    </td>
    <td>
      <span class="badge {{ invoice.invoice_type|status_badge }}">{{ invoice.invoice_type|yesno:'Cash,Credit' }}</span>
    </td>
    <td>{{ invoice.created_at|date:'d M, Y' }}</td>
    <td>{{ invoice.sale_user.full_name }}</td>
    <td class="text-end">{{ invoice.dueAmount|currency_format }}</td>
    <td class="text-center">
      <a href="{% url 'invoice:invoice_detail' invoice.id %}" class="btn btn-sm btn-outline-primary" title="View Details"><i class="fas fa-eye"></i></a>
    </td>
  </tr>
{% endfor %}
